ul,li{
  list-style: none;
  padding: 0px;
}



.leftNav{
  background: #000;
  color: antiquewhite;
}

.userDetail{
  background-color:aqua;
}
.imageContainer{
  width: 100px;
}
.imageContainer img{
  width: 100%;
  border-radius: 50%;
}